<ion-view view-title="Add New Volunteer">
  <ion-content>
    <div class="container-fluid">
            <h4>Add New Volunteer</h4>
            <form role="form" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="firstname">First Name</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="firstname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="lastname">Last Name</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="lastname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="phone">Phone</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="phone" placeholder="optional">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="email">Email</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="email" placeholder="optional">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="address1">Occupation</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="address1" placeholder="optional">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="city">Location</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="city" placeholder="optional">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="state">Description</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="state" placeholder="optional">
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary" id="add_lead_submit">Add Lead</button>
                    </div>
                </div>
            </form>
        </div>
  </ion-content>
</ion-view>